<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <title>Landing Page for the Lounge</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
    <style>
        .attribution {
            font-size: 11px;
            text-align: center;
        }
        
        .attribution a {
            color: hsl(228, 45%, 44%);
        }
    </style>
    <link rel="stylesheet" href="../../css/landingstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="content">
            <h1>Welcome to The Lounge</h1>

            <p>The Lounge is a place for you to connect with friends, family and strangers of similar musical tastes. Create custom lounges, add songs to the playlist, and jam out to your favorite songs wile discovring new music from other members of your
                lounge!
            </p>

            <button class="login" id="register">Register</button>
            <button class="login" id="signin">Sign In</button>
        </div>


        <div class="images">
            <!-- <img class="logo" src="./images/logo.svg"/> -->
            <img class="screens" src="../../images/illustration-mockups.svg" />


        </div>



    </div>
    <footer>
        <p class="attribution">
            Created by<a href="https://brennan-portfolio-2020.herokuapp.com/
      " target="_blank"> Brennan Smallwood </a>.
        </p>
    </footer>
</body>

</html>