<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../css/style.css" type="text/css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    

</head>

<body class="body">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" id="lounge">Lounge</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button i class="fa fa-search" type="submit"></button>
        </form>
    </nav>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Browse</h1>
                <br />
                <h4>Your lounges | <a href="https://www.deezer.com/en/channels/charts" id="discover" target="_blank">Discover</a></h4>
            </div>
            <div class="col-auto">
                <button i class="fa fa-plus fa-3x"></i></button>
                <p id="new">New lounge</p>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm" >
                <div class="card">
                    <div class="card-body" id="kpop">
                        <!-- <a href="lounge.html" target="_blank"> -->
                            <img src="../../images/k-pop.jpg" class="img-fluid" alt="Responsive image"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm" >
                <div class="card">
                    <div class="card-body" id="rock">
                        <!-- <a href="lounge2.html" target="_blank"> -->
                        <img src="../../images/rock.jpg" class="img-fluid" alt="Responsive image"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm" >
                <div class="card">
                    <div class="card-body" id="classical">
                        <!-- <a href="lounge3.html" target="_blank"> -->
                        <img src="../../images/classic.jpg" class="img-fluid" alt="Responsive image"></a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body" id="hiphop">
                        <!-- <a href="lounge4.html" target="_blank"> -->
                        <img src="../../images/hiphop.jpg" class="img-fluid" alt="Responsive image"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm" >
                <div class="card">
                    <div class="card-body" id="jazz">
                        <!-- <a href="lounge5.html" target="_blank"> -->
                        <img src="../../images/jazz.jpg" class="img-fluid" alt="Responsive image"></a>

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body" id="edm">
                        <!-- <a href="lounge6.html" target="_blank"> -->
                        <img src="../../images/edm.jpg" class="img-fluid" alt="Responsive image"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/lounge.js"></script>
    <script src="../../js/clicks.js"></script>
</body>

</html>